section {
  padding: 100px 0;
}

#features {
  background-color: #f4f7f9;
  h3 {
    text-align: center;
  }

  h5 {
      margin-top: 25px;
      margin-bottom: 70px;

      text-align: center;

      span {
        img {
          vertical-align: middle;
        }
        &:after, &:before{
        @include separator();
        }

        &:after {
          @include separator-left();
        }

        &:before {
          @include separator-right();
        }
      }
  }

.features-box {
  display: flex;

  .fcolumn {
    display: flex;

    &:not(:last-of-type) {
      margin-right: 70px;
    }
    .fcontent{
      margin-left: 10px;
    h4 {
      font-size: 20px;
      font-weight: 600;

      margin-bottom: 30px;

      width: 33%;
    }

    p {
      font-size: 13px;
      line-height: 21px;

      color: $paragraphColor;
    }
    }

    .features-image > img {
      border: 1px solid $generalColor;
      border-radius: 50%;
      padding: 5px;

      width: 18px;
      height: 18px;
    }
  }
}
}

#works {
  h5 {
      margin-top: 25px;
      margin-bottom: 45px;

      text-align: center;

      span {
        img {
          vertical-align: middle;
        }
        &:after, &:before{
        @include separator();
        }

        &:after {
          @include separator-left();
        }

        &:before {
          @include separator-right();
        }
      }
    }

    p {
      text-align: center;

      font-size: 18px;
      line-height: 24px;
      font-weight: 600;

      color: $paragraphColor;
    }
}
