@mixin separator {
  content: "";
  display: inline-block;
  width: 6%;
  height: 2px;
  background-color: rgba($color-general, 0.1);
  vertical-align: middle;
}

@mixin separator-icon {
  color: rgba($color-general, 0.2);
  font-size: 1.56em;
  font-weight: $fontw-extrabold;
  vertical-align: middle;
}

@mixin header {
  text-align: center;
  margin-bottom: 30px;
}

@mixin hover-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-accent, 0.9);
  color: $color-secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s linear;
}
