$font-general: "Open Sans", sans-serif;
$font-second: "Pacifico", sans-serif;

$fontw-light: 300;
$fontw-bold: 700;
$fontw-semibold: 600;
$fontw-extrabold: 800;

$color-general: #062033;
$color-secondary: #fff;
$color-accent: #0eb493;
