html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  width: 100%;
  overflow-x: hidden; }

.container {
  width: 1170px;
  margin: 0 auto;
  box-sizing: border-box; }

section {
  padding: 100px 0; }

body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif; }

h3 {
  text-transform: uppercase;
  font-size: 1.56em;
  font-weight: 800;
  color: #0eb493; }

#features {
  background-color: #f4f7f9; }
  #features h3 {
    text-align: center;
    margin-bottom: 30px; }
  #features .separator {
    text-align: center; }
    #features .separator:before, #features .separator:after {
      content: "";
      display: inline-block;
      width: 6%;
      height: 2px;
      background-color: rgba(6, 32, 51, 0.1);
      vertical-align: middle; }
    #features .separator:before {
      margin-right: 20px; }
    #features .separator:after {
      margin-left: 20px; }
    #features .separator i {
      color: rgba(6, 32, 51, 0.2);
      font-size: 1.56em;
      font-weight: 800;
      vertical-align: middle; }
  #features .features-content {
    display: flex;
    margin-top: 60px; }
    #features .features-content .features-box:not(:last-of-type) {
      margin-right: 45px; }
    #features .features-content .features-box {
      display: flex; }
      #features .features-content .features-box .fbox-img {
        color: #0eb493;
        display: flex;
        margin-right: 20px;
        margin-top: -5px; }
        #features .features-content .features-box .fbox-img i {
          border: 1px solid #0eb493;
          border-radius: 50%;
          text-align: center;
          line-height: 40px;
          width: 40px;
          height: 40px; }
      #features .features-content .features-box .fbox-desc h4 {
        font-size: 1.11em;
        font-weight: 600;
        color: #062033;
        margin-bottom: 30px; }
      #features .features-content .features-box .fbox-desc p {
        font-size: 0.72em;
        line-height: 21px;
        color: rgba(6, 32, 51, 0.7); }

header {
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 800px; }
  header .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: rgba(16, 22, 54, 0.2); }
    header .main-nav .logo {
      text-decoration: none; }
      header .main-nav .logo h1 {
        font-size: 1.56em;
        font-family: "Pacifico", sans-serif;
        color: #fff;
        display: inline-block; }
      header .main-nav .logo span {
        color: #576061;
        font-size: 0.72em; }
        header .main-nav .logo span:before {
          content: "|";
          color: #17526e;
          font-size: 1.5em;
          padding-left: 15px;
          padding-right: 10px; }
  header .header-desc {
    color: #fff;
    text-align: center;
    padding-top: 55vh; }
    header .header-desc h2 {
      font-size: 3.44em;
      font-weight: 300;
      margin-bottom: 15px; }
      header .header-desc h2 span {
        font-weight: 700; }
    header .header-desc h3 {
      font-size: 2.67em;
      font-weight: 300;
      color: #fff;
      margin-bottom: 38px; }
      header .header-desc h3 span {
        color: #0feb9e; }
    header .header-desc p {
      font-weight: 300; }
      header .header-desc p:before, header .header-desc p:after {
        content: '';
        width: 3%;
        height: 2px;
        display: inline-block;
        background-color: #0feb9e;
        vertical-align: middle; }
      header .header-desc p:before {
        margin-right: 30px; }
      header .header-desc p:after {
        margin-left: 30px; }
  header .header-icons {
    margin-top: 110px;
    text-align: center; }
    header .header-icons ul {
      list-style-type: none; }
      header .header-icons ul li {
        display: inline-block;
        padding-right: 25px; }
        header .header-icons ul li:last-child {
          padding-right: 0; }
        header .header-icons ul li a {
          color: rgba(255, 255, 255, 0.3);
          font-size: 1em; }
          header .header-icons ul li a:hover {
            color: #fff; }

nav ul li {
  display: inline-block;
  padding-right: 35px; }
  nav ul li:last-child {
    padding-right: 0; }
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 0.72em; }
    nav ul li a:hover {
      border-top: 1px solid #32b0ee; }
